<!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 style="color: #195533;font-weight:bold !important;">Informativo <i class="nav-icon fas fa-book"></i></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active">Informativo</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
<!-- /.content-header -->

<br> 
<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Custom Tabs -->
            <div class="card">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">
                </h3>
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab" id="cargarproductos">Manual</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab" id="portafolios">Acerca de:</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab" id="categoria">Recomendaciones</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
                    <div id="bloque" class="col-sm-12 col-md-12">
                      <div class="panel panel-default">
                        <section class="content">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-lg-4 col-12">                                   
                                  <div class="panel panel-default">
                                    <div class="row">
                                      <h2 style="color: #195533;font-weight:bold !important;">Manual</h2>
                                      <p>Exactly like the original bootstrap tabs except you should use
                                        the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
                                    </div>
                                  </div>
                              </div>

                            </div>
                          </div>
                        </section>
                      </div>      
                    </div>

                  </div>

                  <div class="tab-pane" id="tab_2">
                    <div id="bloque" class="col-sm-12 col-md-12">
                      <div class="panel panel-default">
                        <section class="content">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-lg-4 col-12">                                   
                                  <div class="panel panel-default">
                                    <div class="row">
                                      <h2 style="color:#195533;font-weight:bold !important;">Acerca de:</h2>
                                      <p>Exactly like the original bootstrap tabs except you should use
                                        the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
                                        <p>Exactly like the original bootstrap tabs except you should use
                                          the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
                                        <p>Exactly like the original bootstrap tabs except you should use
                                        the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>    
                                    </div>
                                  </div>
                              </div>

                            </div>
                          </div>
                        </section>
                      </div>      
                    </div>
                  </div>

                  <div class="tab-pane" id="tab_3">
                    <div id="bloque" class="col-sm-12 col-md-12">
                      <div class="panel panel-default">
                        <section class="content">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-lg-4 col-12">                                   
                                  <div class="panel panel-default">
                                    <div class="row">
                                      <h2 style="color:#195533;font-weight:bold !important;">Recomendaciones</h2>
                                      <p>Exactly like the original bootstrap tabs except you should use
                                        the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
                                      <p>Exactly like the original bootstrap tabs except you should use
                                        the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>  
                                    </div>
                                  </div>
                              </div>

                            </div>
                          </div>
                        </section>
                      </div>      
                    </div>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- ./card -->
          </div>
          <!-- /.col -->
        </div>
    </div>
</section>