
<style type="text/css">

  #scroll_horizontal {
    width: 100%;
    overflow: auto;
    padding: 8px;
  }

</style>


<script>


function _select_region(){
    $.ajax({
          url: '/v_listar_regiones',
          type: "POST",
          beforeSend: show_loading(),
          dataType: 'html',
          headers: {
                  'Access-Control-Allow-Origin': '*'
              },
          success: function(res){
            $('select#select_region').html(res);
            hide_loading(); 
          }, 
          error: function(e) {
          console.error(e);
          $.notify("Error al cargar los datos","warn"); 
      }
    }); 
  }

  function _select_canal(){     
    var region = $('select#select_region').val();
    $.ajax({
          url: '/v_listar_canales',
          data: {'region':region},
          type: "POST",
          beforeSend: show_loading(),
          dataType: 'html',
          headers: {
                  'Access-Control-Allow-Origin': '*'
              },
          success: function(res){
            $('select#select_canal').html(res);
            hide_loading(); 
          }, 
          error: function(e) {
          console.error(e);
          $.notify("Error al cargar los datos","warn"); 
      }
    }); 
  }

  function _select_categoria(){     
    var region = $('select#select_region').val();
    var canal = $('select#select_canal').val();
    $.ajax({
          url: '/v_listar_categorias',
          data: {'region':region,'canal':canal},
          type: "POST",
          beforeSend: show_loading(),
          dataType: 'html',
          headers: {
                  'Access-Control-Allow-Origin': '*'
              },
          success: function(res){
            $('select#select_categoria').html(res);
            hide_loading(); 
          }, 
          error: function(e) {
          console.error(e);
          $.notify("Error al cargar los datos","warn"); 
      }
    }); 
  }

  function _select_marca(){     
    var region = $('select#select_region').val();
    var canal = $('select#select_canal').val();
    var categoria = $('select#select_categoria').val();
    $.ajax({
          url: '/v_listar_marcas',
          data: {'region':region,'canal':canal,'categoria':categoria},
          type: "POST",
          beforeSend: show_loading(),
          dataType: 'html',
          headers: {
                  'Access-Control-Allow-Origin': '*'
              },
          success: function(res){
            $('select#select_marca').html(res);
            hide_loading(); 
          }, 
          error: function(e) {
          console.error(e);
          $.notify("Error al cargar los datos","warn"); 
      }
    }); 
  }

function descargarArchivo() {  
    //proceso de transformar JSON en DF
    show_loading();
    window.location.href = "/v_descargar"
    hide_loading();
    //$.notify("Descargado: " + tabla, "success"); 
  }

  function rollback() {   
        $.ajax({
            url: '/v_rollback',
            type: "post",
            beforeSend: show_loading(),
            dataType: "text",
            success: function(res){
                if(res == 'resok'){
                  $.notify("Retroceso de datos Aplicado", "success"); 
                  hide_loading();
                  v_pronostico();
                }
             },
           error: function(e) {
                console.error(e);
                $.notify("Hubo un error en la petición del proceso", "error");
                hide_loading();
          } 
        });
    }

  function mostrarArchivo(){
    var archivo=$('input#inputArchivoCarga').val();
    $('input#inputArchivo').val(archivo);
  }

  function cargarArchivoSalida(){ 
    var archivo=$('input#inputArchivo').val();        
    var extensionArchivo= archivo.substring(archivo.lastIndexOf('.') + 1);   
    //alert(archivo)

    if (archivo==''){
      $.notify("Debe seleccionar un archivo", "error");
      $("input#inputArchivo").css({'border-color':'red'});
      return;
    }
    if (extensionArchivo!='csv'){
        $.notify("Seleccione un archivo formato: .csv", "error");
        $("input#inputArchivo").css({'border-color':'red'});
        return;
    } 
    $.ajaxFileUpload({
        url: '/upload',
        secureuri: false,
        fileElementId:'inputArchivoCarga',
        data: {'archivo':archivo},
        type: "POST",        
        dataType: 'text',        
        beforeSend: show_loading(),
        headers: {
                    'Access-Control-Allow-Origin': '*'
                },
        //complete: function(objeto){dialogoEsperaOcultar();},
        success: function(res) {                   
          if (res == 'procesoOk') {
                $.notify("Registros agregados", "success"); 
                hide_loading();   
                v_pronostico();                                                               
            } 
          if (res == 'sinprocesar') {
                $.notify("Error al iniciar el proceso", "error");
                hide_loading();   
          }  
          if (res == 'nodata') {
                $.notify("Debe seleccionar un fichero", "error");
                hide_loading();   
            }
          if (res == 'noextension') {
                $.notify("Seleccione un archivo formato: .csv", "error");
                hide_loading();   
              }
          if (res == 'noformato') {
                $.notify("Las columnas del fichero no son iguales a la tabla de la base de datos" , "error");
                hide_loading();   
              }    
          if (res == 'ErrorCsv') {
                $.notify("Hubo un error al leer el CSV", "error");
                hide_loading();   
              } 
          if (res == 'Error') {
                $.notify("Hubo un error en el proceso", "error");
                hide_loading();   
          }                     
        },
        error: function(e) {
           console.error(e);
           $.notify("Hubo un error en la petición del proceso", "error");
           hide_loading();
          }
    });

  }


  function pronostico(){
    var conbinatoria=$('p#conbinatoria').text();  
    if(conbinatoria == 'No Data'){
      alert("Antes del pronostico debe seleccionar una conbinatoria de datos")
    }  else{
      alert("Proceso Pronostico con datos de la conbinatoria: "+ conbinatoria)
    }    
  }
</script>

<!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 style="color: #195533;font-weight:bold !important;">Pronóstico <i class="nav-icon fas fa-tachometer-alt"></i></h1>
          <p id="conbinatoria">{{ combinatoria['combinatoria'] }}</p>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active">Pronóstico</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
<!-- /.content-header -->

<br> 

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-12">
      <div class="small-box bg-info" style="background-color: #1aab61 !important">
        <div class="inner">
          <h4>Descargar Simulación</h4>
          <br/>
          <br/>
          <br/>
          <br/>
          <a href="#" class="btn btn-default btn-block" onclick="descargarArchivo()">Exportar</a>
        </div>
        <div class="icon">
          <i class="fa fa-download"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-12">
      <div class="small-box bg-success">
        <div class="inner">
          <h4>Subir</h4>
            <div class="form-group"> 
              <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                      Examinar… <input style="display: none;" multiple="" type="file" onchange="mostrarArchivo()" id="inputArchivoCarga" name="inputArchivoCarga">
                    </span>                                        
                    <input class="form-control" readonly="" type="text" size="50" id="inputArchivo"> 
                </label>
              </div>              
                  <button style="margin-bottom:-2%;" type="button" class="btn btn-default btn-block" onclick="cargarArchivoSalida()">Subir Archivo y Pronosticar</button>                                      
            </div>
        </div>
        <div class="icon">
          <i class="fa fa-upload"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-12">
      <div class="small-box bg-info" style="background-color: #1aab61 !important">
        <div class="inner">
          <h4>Retroceder</h4>
          <br/>
          <br/>
          <br/>
          <br/>
          <!--<a href="#" class="btn btn-default btn-block" onclick="rollback()">Rollback</a>-->
          <button type="button" class="btn btn-default btn-block" onclick="rollback()">Retroceder</button>
        </div>
        <div class="icon">
          <i class="fa fa-retweet"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-12">
      <div class="small-box bg-info">
        <div class="inner">
          <h4>Pronostico</h4>
          <div class="info-box-content">
            <span class="info-box-text" title="Descripción">Indicador de confianza</span>
            <span class="info-box-number">{{ metrica }}%</span>
            <div class="progress">
              <div class="progress-bar" style="width: {{ metrica }}%"></div>
            </div>
          </div>
          <br/>
          <div class="info-box-content" style="margin-bottom:2%;">
            <span class="info-box-text" title="Descripción">Porcentaje de Error</span>
            <span class="info-box-number">{{ error }}%</span>
            <div class="progress">
              <div class="progress-bar" style="width: {{ error }}%"></div>
            </div>
          </div>
          <br/>
          <!--<button type="button" class="btn btn-default btn-block" onclick="pronostico()">Pronosticar</button>-->
        </div>
        <!--
        <div class="icon">
          <i class="fa fa-tachometer-alt"></i>
        </div>
        -->
      </div>
    </div>

  </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-9">
            <!-- Custom Tabs -->
            <div class="card">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">
                </h3>
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="nav-link active" href="#tab_0" data-toggle="tab" id="accionables">Var Acc</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab_1" data-toggle="tab" id="noaccionables">Var No Acc</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab" id="portafolios">Pronósticos</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab" id="portafolios">Gráficas</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">

                  <div class="tab-pane active" id="tab_0">
                    <h2>Variables accionables por negocio</h2>
                    <div id="bloque" class="col-sm-12 col-md-12">
                      <div class="panel panel-default">
                        <section class="content">
                          <div class="tab-content">
                            <div id="scroll_horizontal">
                              <div class="card-body"></div>
                                <div id="scroll_horizontal">
                                  <table class="table table-striped table-bordered table-hover" id="dataTables">                                    
                                    <thead>
                                      <tr style="font-size: 15px;"></tr>
                                      {% if data %}
                                      {% for row in data['col_names_acc'] %}                                        
                                          <th>{{row}}</th>                                        
                                      {% endfor %}
                                      </tr> 
                                      {% else %}
                                      <p style="color:gray;">Sin datos</p>
                                      {% endif %}    
                                    </thead>
                                    <tbody id="datatable"> 
                                      {% if data %}
                                      {% for row in data['data_acc'] %}
                                        <tr style="font-size: 15px;">
                                          <td>{{row[0]}}</td>
                                          <td>{{row[1]}}</td> 
                                          <td>$ {{"{:,}".format(row[2])}}</td>
                                          <td>{{"{:,}".format(row[3])}}</td>
                                          <td>{{row[4]}}</td>
                                        </tr>
                                      {% endfor %} 
                                      {% else %}
                                      <p style="color:gray;">Sin datos</p>
                                      {% endif %}
                                    </tbody>
                                </table>  
                              </div> 
                            </div>           
                          </div>
                        </section>
                      </div>      
                    </div>
                  </div>

                  <div class="tab-pane" id="tab_1">
                    <h2>Variables No accionables por negocio </h2>
                    <div id="bloque" class="col-sm-12 col-md-12">
                      <div class="panel panel-default">
                        <section class="content">
                          <div class="tab-content">
                            <div id="scroll_horizontal">
                              <div class="card-body"></div>
                                <div id="scroll_horizontal">
                                  <table class="table table-striped table-bordered table-hover" id="dataTables2">                                    
                                    <thead>
                                      <tr style="font-size: 15px;"></tr>
                                      {% if data %}
                                      {% for row in data['col_names_noacc'] %}                                        
                                          <th>{{row}}</th>                                        
                                      {% endfor %}
                                      </tr> 
                                      {% else %}
                                      <p style="color:gray;">Sin datos</p>
                                      {% endif %}    
                                    </thead>
                                    <tbody id="datatable"> 
                                      {% if data %}
                                      {% for row in data['data_noacc'] %}
                                        <tr style="font-size: 15px;">
                                          <td>{{row[0]}}</td>
                                          <td>{{row[1]}}</td>
                                          <td>{{"{:,}".format(row[2])}}</td>
                                          <td>{{"{:,}".format(row[3])}}</td>
                                          <td>{{"{:,}".format(row[4])}}</td>
                                          <td>{{"{:,}".format(row[5])}}</td>
                                          <td>{{row[6]}}</td>
                                          <td>{{row[7]}}</td>
                                          <td>{{row[8]}}</td>
                                          <td>$ {{row[9]|round()}}</td>
                                          <td>{{row[10]}} kg</td>
                                          <td>{{row[11]}}</td>
                                          <td>$ {{row[12]|round()}}</td>
                                          <td>$ {{row[13]|round()}}</td>
                                          <td>{{row[14]}} kg</td>
                                          <td>{{row[15]}}</td>
                                          <td>$ {{row[16]|round()}}</td>
                                          <td>$ {{row[17]|round()}}</td>
                                          <td>{{row[18]}} kg</td>
                                          <td>{{row[19]}}</td>
                                          <td>$ {{row[20]|round()}}</td>
                                          <td>$ {{row[21]|round()}}</td>
                                          <td>{{row[22]}} kg</td>
                                          <td>{{row[23]}}</td>
                                          <td>$ {{row[24]|round()}}</td>
                                          <td>$ {{row[25]|round()}}</td>
                                          <td>{{row[26]}} kg</td>
                                          <td>{{row[27]}}</td>
                                          <td>$ {{row[28]|round()}}</td>
                                          <td>$ {{row[29]|round()}}</td>
                                          <td>{{"{:,}".format(row[30])}}</td>
                                          <td>{{"{:,}".format(row[31])}}</td>
                                          <td>{{"{:,}".format(row[32])}}</td>
                                          <td>{{"{:,}".format(row[33])}}</td>
                                          <td>{{"{:,}".format(row[34])}}</td>
                                          <td>{{"{:,}".format(row[35])}}</td>
                                          <td>{{"{:,}".format(row[36])}}</td>
                                          <td>{{"{:,}".format(row[37])}}</td>
                                          <td>{{"{:,}".format(row[38])}}</td>
                                          <td>{{"{:,}".format(row[39])}}</td>
                                          <td>{{"{:,}".format(row[40])}}</td>
                                          <td>{{"{:,}".format(row[41])}}</td>
                                          <td>{{"{:,}".format(row[42])}}</td>
                                          <td>{{"{:,}".format(row[43])}}</td>
                                          <td>{{"{:,}".format(row[44])}}</td>
                                          <td>{{"{:,}".format(row[45])}}</td>
                                          <td>{{"{:,}".format(row[46])}}</td>
                                          <td>{{"{:,}".format(row[47])}}</td>
                                          <td>{{"{:,}".format(row[48])}}</td>
                                          <td>{{"{:,}".format(row[49])}}</td>
                                          <td>{{"{:,}".format(row[50])}}</td>
                                          <td>{{"{:,}".format(row[51])}}</td>
                                          <td>{{"{:,}".format(row[52])}}</td>
                                          <td>{{"{:,}".format(row[53])}}</td>
                                          <td>{{"{:,}".format(row[54])}}</td>
                                          <td>{{"{:,}".format(row[55])}}</td>
                                          <td>{{"{:,}".format(row[56])}}</td>
                                          <td>{{"{:,}".format(row[57])}}</td>
                                          <td>{{"{:,}".format(row[58])}}</td>
                                          <td>{{"{:,}".format(row[59])}}</td>
                                          <td>{{"{:,}".format(row[60])}}</td>
                                          <td>{{"{:,}".format(row[61])}}</td>
                                          <td>{{"{:,}".format(row[62])}}</td>
                                          <td>{{"{:,}".format(row[63])}}</td>
                                          <td>{{"{:,}".format(row[64])}}</td>
                                          <td>{{"{:,}".format(row[65])}}</td>
                                          <td>{{"{:,}".format(row[66])}}</td>
                                          <td>{{"{:,}".format(row[67])}}</td>
                                          <td>{{"{:,}".format(row[68])}}</td>
                                          <td>{{"{:,}".format(row[69])}}</td>
                                          <td>{{"{:,}".format(row[70])}}</td>
                                          <td>{{"{:,}".format(row[71])}}</td>
                                          <td>{{row[72]}}</td>
                                          <td>{{row[73]}}</td>
                                        </tr>
                                      {% endfor %} 
                                      {% else %}
                                      <p style="color:gray;">Sin datos</p>
                                      {% endif %}
                                    </tbody>
                                </table>  
                              </div> 
                            </div>           
                          </div>
                        </section>
                      </div>      
                    </div>
                  </div>

                  <div class="tab-pane" id="tab_2">
                    <h2>Pronósticos 
                      <!--<button type="submit" class="btn btn-success" onclick="descargarArchivo()">Exportar Simulación</button>-->                      
                    </h2>
                    
                    <div id="bloque" class="col-sm-12 col-md-12">
                      <div class="panel panel-default">
                        <section class="content">
                          <div class="tab-content">
                            <div id="scroll_horizontal">
                              <div class="card-body"></div>
                                <div id="scroll_horizontal">
                                  <table class="table table-striped table-bordered table-hover" id="dataTables3">                                    
                                    <thead>
                                      <tr style="font-size: 15px;"></tr>
                                      {% if data %}
                                      {% for row in data['col_names_pron'] %}                                        
                                          <th>{{row}}</th>                                        
                                      {% endfor %}
                                      </tr> 
                                      {% else %}
                                      <p style="color:gray;">Sin datos</p>
                                      {% endif %}    
                                    </thead>
                                    <tbody id="datatable"> 
                                      {% if data %}
                                      {% for row in data['data_pron'] %}
                                        <tr style="font-size: 15px;">
                                          <td>{{row[0]}}</td>
                                          <td>{{row[1]}}</td>
                                          <td>{{row[2]}}</td>
                                          <td>$ {{"{:,}".format(row[3])}}</td>
                                          <td>$ {{"{:,}".format(row[4])}} kg</td>                            
                                          <td>{{"{:,}".format(row[5])}} kg</td>
                                          <td>{{"{:,}".format(row[6])}} kg</td>
                                        </tr>
                                      {% endfor %}
                                      {% else %}
                                      <p style="color:gray;">Sin datos</p>
                                      {% endif %}
                                    </tbody>
                                </table>  
                              </div> 
                            </div>           
                          </div>
                        </section>
                      </div>      
                    </div>

                  </div>

                  <div class="tab-pane" id="tab_3">
                    <div id="bloque" class="col-sm-12 col-md-12">
                      <div class="panel panel-default">
                        <section class="content">
                          <div class="container-fluid">
                            <div class="row">
                              
                              <div class="col-lg-12 col-12">                                   
                                  <div class="panel panel-default">
                                    <div class="row">
                                      
                                      <!-- Main content -->
                                      <section class="content">
                                        <div class="container-fluid">
                                          <div class="row">

                                            <!--
                                            <form role="form">
                                              <div class="box-body">                                                
                                                <div class="form-group">
                                                  <label>Date range:</label>                                
                                                  <div class="input-group">
                                                    <div class="input-group-prepend">
                                                      <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                      </span>
                                                    </div>
                                                    <input type="text" class="form-control float-right" id="reservation">
                                                  </div>
                                                </div>
                                            </div>
                                            </form>
                                            /.input group -->

                                            <div class="col-md-12">
                                              <div class="card card-danger">
                                                <div class="card-header">
                                                  <h3 class="card-title">
                                                    Estimación Participación (Tiempo, Dinero)
                                                  </h3>
                                                  <div class="card-tools">
                                                    <button type="button" class="btn btn-tool"></button>
                                                    <button type="button" class="btn btn-tool"></button>
                                                  </div>
                                                </div>
                                                <center><p style="color: rgb(139, 34, 34);font-weight: bold;">{{ combinatoria['combinatoria'] }}</p></center>
                                                <div class="card-body">
                                                  <div class="chart">
                                                    <canvas id="venta_dinero" style="min-height: 300px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>
                                                  </div>
                                                </div>
                                              </div>            
                                            </div>

                                            <div class="col-md-12">
                                              <div class="card card-primary">
                                                <div class="card-header">
                                                  <h3 class="card-title">
                                                    Estimación Participación (Tiempo - Kilos)
                                                  </h3>                                                  
                                                  <div class="card-tools">
                                                    <button type="button" class="btn btn-tool"></button>
                                                    <button type="button" class="btn btn-tool"></button>
                                                  </div>
                                                </div>
                                                <center><p style="color: rgb(34, 59, 139);font-weight: bold;">{{ combinatoria['combinatoria'] }}</p></center>
                                                <div class="card-body">
                                                  <canvas id="venta_volumen" style="min-height: 300px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>
                                                </div>
                                              </div>                                              
                                            </div>

                                            <div class="col-md-12">
                                              <div class="card card-body">
                                                <div class="card-header">
                                                  <h3 class="card-title">
                                                    Estimación Participación (Tiempo, Dinero y Kilos)
                                                  </h3>
                                                  <div class="card-tools">
                                                    <button type="button" class="btn btn-tool"></button>
                                                    <button type="button" class="btn btn-tool"></button>
                                                  </div>
                                                </div>
                                                <center><p style="color: rgb(34, 139, 60);font-weight: bold;">{{ combinatoria['combinatoria'] }}</p></center>
                                                <div class="card-body">
                                                  <div class="chart">
                                                    <canvas id="notables_dinero" style="min-height: 300px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>
                                                  </div>
                                                </div>
                                              </div>            
                                            </div>

                                            <div class="col-md-12">
                                              <div class="card card-tools">
                                                <div class="card-header">
                                                  <h3 class="card-title">
                                                    Estimación Participación (Tiempo - Kilos)
                                                  </h3>                                                  
                                                  <div class="card-tools">
                                                    <button type="button" class="btn btn-tool"></button>
                                                    <button type="button" class="btn btn-tool"></button>
                                                  </div>
                                                </div>
                                                <center><p style="color: rgb(139, 50, 34);font-weight: bold;">{{ combinatoria['combinatoria'] }}</p></center>
                                                <div class="card-body">
                                                  <canvas id="notables_volumen" style="min-height: 300px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>
                                                </div>
                                              </div>                                              
                                            </div>

                                          </div> 
                                        </div>
                                      </section>
                                      <!-- /.content -->  
                                      

                                    </div>
                                  </div>
                              </div>

                            </div>
                          </div>
                        </section>
                      </div>      
                    </div>
                  </div>
                  <!-- /.tab-pane -->
                  
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- ./card -->
          </div>

          <div class="col-3">
            
            <div class="box box-primary">
              <!--
              <div class="box-header with-border">
                <h3 class="box-title">Quick Example</h3>
              </div>
              -->
              <!-- /.box-header -->
              <!-- form start -->
              <form role="form">
                <div class="box-body">
                  <div class="form-group">
                    <label>Fuente<small style="color: rgb(110, 110, 110); float: right; float: right !important; padding-left: 10px; font-weight: bold;">{{ combinatoria['fuente'] }}</small></label>
                    <select id="select_fuente" class="form-control">
                      <option>-- Seleccione --</option>
                      <option>Nielsen</option>
                      <option>Interna</option>           
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Region<small style="color: rgb(110, 110, 110); float: right; float: right !important; padding-left: 10px; font-weight: bold;">{{ combinatoria['region'] }}</small></label>
                    <a style="float: right;" id="cargar_region" href="#" onclick="_select_region()">Cargar Region</a>
                    <select id="select_region" class="form-control" name="select">  
                      <option>-- Seleccione -- </option>
                    </select>
                  </div>  
                  <div class="form-group">
                    <label>Canal<small style="color: rgb(110, 110, 110); float: right; float: right !important; padding-left: 10px; font-weight: bold;">{{ combinatoria['canal'] }}</small></label>
                    <a style="float: right;" id="cargar_canal" href="#" onclick="_select_canal()">Cargar Canal</a>
                    <select id="select_canal" class="form-control" name="select">    
                      <option>-- Seleccione -- </option>
                    </select>
                  </div>  
                  <div class="form-group">
                    <a style="float: right;" id="cargar_categoria" href="#" onclick="_select_categoria()">Cargar Categoria</a>
                    <label>Categoria<small style="color: rgb(110, 110, 110); float: right; float: right !important; padding-left: 10px; font-weight: bold;">{{ combinatoria['categoria'] }}</small></label>
                    <select id="select_categoria" class="form-control">     
                      <option>-- Seleccione -- </option>
                    </select>
                  </div>  
                  <div class="form-group">
                    <a style="float: right;" id="cargar_marca" href="#" onclick="_select_marca()">Cargar Marca</a>
                    <label>Marca<small style="color: rgb(110, 110, 110); float: right; float: right !important; padding-left: 10px; font-weight: bold;">{{ combinatoria['marca'] }}</small></label>
                    <select id="select_marca" class="form-control">
                      <option>-- Seleccione -- </option>                
                    </select>
                  </div>                  
                </div>
                <!-- /.box-body -->
      
                <div class="box-footer">
                  <a href="#" class="btn btn-primary" class="close" data-dismiss="modal" aria-label="Close" onclick="traer_data()">Traer datos</a>
                </div>
              </form>
            </div>
      
          </div>
          <!-- /.col -->
        </div>
    </div>
</section>

<script>
  $(document).ready(function() {
      $('#dataTables').DataTable({
        "language": {
          "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
        },  
      responsive: true
      });
  });
</script>

<script>
  $(document).ready(function() {
      $('#dataTables2').DataTable({
        "language": {
          "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
        },
      responsive: true
      });
  });
</script>

<script>
  $(document).ready(function() {
      $('#dataTables3').DataTable({
        "language": {
          "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
        },
      responsive: true
      });
  });
</script>

<script>
  $(function () {

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })

  })
</script>


<!-- ChartJS -->
<script src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ url_for('static', filename='dist/js/demo.js') }}"></script>
<!-- page script -->

<script>
  $(document).ready(function() {
      $('#example1').DataTable({
      responsive: true,
      ordering:  true
      });
    });
</script>



<script>

  new Chart(document.getElementById("venta_dinero"), {
  type: 'line',
  data: {
    labels: [{% for row in anio_mes %}
            "{{row}}",
            {% endfor %}],
    datasets: [
      { 
        data: [{% for row in labels_kilos %}
             "{{row}}",
            {% endfor %}],
        label: "$ venta_dinero",
        yAxisID: 'A',
        borderColor: "#FF4E4E",
        fill: false,
        pointRadius: 2
      },
      { 
        data: [{% for row in labels_volumen %}
             "{{row}}",
            {% endfor %}],
        label: "venta_volumen kg",
        yAxisID: 'B',
        borderColor: "#3e95cd",
        fill: false,
        pointRadius: 2
      }
    ]      
  },
  options: {
    scales: {
      yAxes:[
        {
        ticks:{
          callback: function(value,index,values){
            return "$" + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          }
        },
        id: 'A',
        type: 'linear',
        position: 'left'
      },
      {
        ticks:{
          callback: function(value,index,values){
            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "kg";
          }
        },
        id: 'B',
        type: 'linear',
        position: 'right'
      }
    ]
    },
    title: {
      display: false,
      text: '',
      responsive : true
    }
  }
});

new Chart(document.getElementById("venta_volumen"), {
  type: 'line',
  data: {
    labels: [{% for row in anio_mes %}
            "{{row}}",
            {% endfor %}],
    datasets: [
      { 
        data: [{% for row in labels_volumen %}
             "{{row}}",
            {% endfor %}],
        label: "venta_volumen",
        borderColor: "#3e95cd",
        fill: false,
        pointRadius: 2
      }
    ]
  },
  options: {
    scales: {
      yAxes:[{
        ticks:{
          callback: function(value,index,values){
            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' KG';
          }
        }
      }]
    },
    title: {
      display: false,
      text: '',
      responsive : true
    }
  }
}); 

new Chart(document.getElementById("notables_dinero"), {
  type: 'horizontalBar',
  data: {
    labels: [{% for row in labels_var_notables %}
             "{{row}}",
            {% endfor %}],
    datasets: [
      { 
        data: [{% for row in value_var_notables %}
             "{{row}}",
            {% endfor %}],
        label: "Variables Notables",
        backgroundColor: "green",
        borderColor: "green",
        borderWidth: 2,
        hoverBorderWidth: 5,
        hoverBackgroundColor: "darkgray",
        hoverBorderColor: "black",
        indexAxis: "y",
        barPercentage: 1.1
      }

    ]
  },
  options: {
        title: {
            display: false
        },
        legend: {
            display: false
        },
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero: true
                },
                position: 'top' // Establezca el valor de la posición en la parte superior, y el eje X se mostrará en la parte superior
            }]
        }
    }
});


new Chart(document.getElementById("notables_volumen"), {
  type: 'horizontalBar',
  data: {
    labels: [{% for row in labels_var_notables %}
             "{{row}}",
            {% endfor %}],
    datasets: [
      { 
        data: [{% for row in value_var_notables %}
             "{{row}}",
            {% endfor %}],
        label: "Variables Notables",
        backgroundColor: "pink",
        borderColor: "red",
        borderWidth: 2,
        hoverBorderWidth: 5,
        hoverBackgroundColor: "darkgray",
        hoverBorderColor: "black",
        indexAxis: "y",
        barPercentage: 1.1
      }

    ]
  },
  options: {
        title: {
            display: false
        },
        legend: {
            display: false
        },
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero: true
                },
                position: 'top' // Establezca el valor de la posición en la parte superior, y el eje X se mostrará en la parte superior
            }]
        }
    }
});

</script>


